{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
CLINIC
{% endblock title %}


{% block content %}

<div class="container">
    <div class="card card-body mt-5 mb-5 pb-4 shadow fade show">
    
      <div class="container mt-3">

        <h1>Clinical Record - Step 1</h1>

        <form method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col">
                    {{ form.location.label_tag }}
                    {{ form.location }}
                </div>
            </div>
            <div class="row">
                <div class="col">

                    {{ form.employee_id.label_tag }}
                    {{ form.employee_id }}
                </div>
                <div class="col">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div class="col">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.gender.label_tag }}
                    {{ form.gender }}
                </div>
                <div class="col">
                    {{ form.company.label_tag }}
                    {{ form.company }}
                </div>
                <div class="col">
                    {{ form.department.label_tag }}
                    {{ form.department }}
                </div>
            </div>
            <button type="submit">Next</button>
        </form>
        
      </div>
    </div>
    </div>

{% endblock content %}


