{% extends 'base.html' %}

{% block title %}
    CLINIC LOG
{% endblock title %}

{% load crispy_forms_tags %}
{% load sorting_tags %}

{% block content %}
<div class="container">

    <!-- Filter Section -->
    <div class="row mx-1">
        <div class="col">
            <button class="btn btn-success mt-3" id="filterBtn">
                <i class="fa-solid fa-magnifying-glass"></i> SEARCH
            </button>
            <a href="{% url 'medicine_export_excel_summary' %}">
                <button class="btn btn-success mt-3 ms-2">
                    <i class="fa-solid fa-file-export"></i> EXPORT XLS
                </button>
            </a>

            <div class="card card-body mt-3" id="filter-slide">
                <h5>FILTER BY:</h5>
                <form action="" method="get" class="form-control-sm">
                    {{ clinic_record_filter.form | crispy }}
                    <button class="btn btn-primary" type="submit">SEARCH</button>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- Medicine Inventory Table -->
    <div class="row mx-1">
        <div class="card card-body mt-3 mb-5 shadow fade show" style="width: 100%;">
            <h3 class="ititles text-center">MEDICINE INVENTORY</h3>
            <table class="table table-bordered table-hover table-striped">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">{% anchor medicine _("MEDICINE") %}</th>
                        <th scope="col">{% anchor quantity _("QUANTITY") %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% autosort medicines as sorted_items %}
                    {% for item in sorted_items %}
                        <tr>
                            <td style="width: 70%">{{ item.medicine }}</td>
                            <td style="width: 30%">{{ item.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock content %}
