{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
NEW MEDICINE
{% endblock title %}

{% block content %}
<div class="container">
    <div class="card card-body mt-5 mb-5 pb-4 shadow fade show">
        <div class="container mt-3">
            <h1 class="text-center"> NEW MEDICINE</h1>
           
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {{ formset.management_form|crispy }}


                <div class="row">
                    <table class="table table-bordered table-hover mt-4">
                        <thead>
          
                          <tr>
                      
                              <th scope="col" style="width:70%">&nbsp MEDICINE</th>
                              <th scope="col" style="width:30%">&nbsp QUANTITY</th>
                              <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody class="form-row spacer">
                            {% for form in formset %}
                            <tr> 
                            
                              <td>{{ form.medicine|as_crispy_field  }}</td>
                              <td>{{ form.quantity|as_crispy_field }}</td>
                              
                              <td><center><button type="button" class="btn btn-success add-form-row">+</button></center></td>
                              
                            </tr>
                            
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>    


                <div class="text-center">
                    <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-truck-medical"></i>
                        <span class="spinner-border spinner-border-sm" id="spinner" role="status" aria-hidden="true"></span>
                        SUBMIT
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<!-- Call the script for the formset -->
{% include 'clinic/form_script.html' %}


{% endblock content %}
