{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
NEW PURCHASES
{% endblock title %}


{% block content %}
<div class="container">
<div class="card card-body mt-5 mb-5 pb-4 shadow fade show">
  <div class="container mt-3">

    <form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
    {{ formset.management_form }}

        <div class="row">

            <table class="table table-bordered table-hover mt-3">
                <thead>

                  <tr>
                    <th colspan="4"><center><h3>ADD ITEM QUANTITY FORM</h3></center></th>
                  </tr> 
                  <tr>  
                      <th scope="col" style="width:80%">Item Name</th>
                      <!-- <th scope="col" style="width:20%">Price</th> -->
                      <th scope="col" style="width:20%">Quantity</th>
                      <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="form-row spacer">
                    {% for form in formset %}
                    <tr> 
                    
                      <td>{{ form.item_code }}</td>
                      <!-- <td>{{ form.price }}</td> -->
                      <td>{{ form.quantity }}</td>
                      
                      <td><center><button type="button" class="btn btn-success add-form-row">+</button></center></td>
                      
                    </tr>
                    
                    {% endfor %}
                    
                </tbody>
            </table>
            
        </div>

        <button type="submit" class="btn btn-success" id="submitbtnadd">
          <span class="spinner-border spinner-border-sm" id="spinner" role="status" aria-hidden="true"></span>  
          SUBMIT
        </button>

    </form>
  </div>
</div>
</div>
<!-- Call the script for the formset -->
{% include 'inventory/form_script_add.html' %}

{% endblock %}


