
{% extends 'base.html'  %}

{% load static %}

{% block title %}
Thank You
{% endblock title %}


{% block content %}

<div class="card text-center mt-5 pb-5 shadow fade show">
    <div class="card-header">
      <h3>Thank You!</h3>
    </div>
    <div class="card-body">
      <img src="{% static 'media/s360.png' %}" width="500">
      <p></p>
      <h5 class="card-title">Form Submitted Successfully! </h5>
      <p class="card-text"></p>
      <a href="{% url 'clinic_record_steps' %}" class="btn btn-primary">Submit another record</a>
    </div>
  </div>

{% endblock content %}

