{% extends 'base.html'  %}

{% block title %}
HOME
{% endblock title %}


{% block content %}

<div class="container">

<div class="dasboard-title mt-5 pb-3">
    <h3>MY DASHBOARD  </h3>
</div>
<div class="container text-center">
    <div class="row">
      <div class="col-3">
        <div class="card text-bg-primary mb-3 shadow fade show">
            <h5 class="card-header">TOTAL ITEM COUNT</h5>
            <div class="card-body">
              <h1 class="card-title">{{ item_count }}</h1>
            </div>
          </div>
      </div>
      <div class="col-3">
        <div class="card text-bg-danger shadow fade show">
            <h5 class="card-header ">TOTAL CRITICAL STOCKS</h5>
            <div class="card-body">
                <h1 class="card-title">{{ critical_count }}</h1>
            </div>
          </div>
      </div>
      <div class="col-3">
        <div class="card text-bg-warning mb-3 shadow fade show ">
            <h5 class="card-header">TRANSACTION TODAY</h5>
            <div class="card-body">
                <h1 class="card-title">{{ transaction_count }}</h1>
            </div>
          </div>
      </div>

      <div class="col-3">
        <div class="card text-bg-info mb-3 shadow fade show ">
            <h5 class="card-header">CLINIC LOGS TODAY</h5>
            <div class="card-body">
                <h1 class="card-title">{{ clinic_log_count }}</h1>
            </div>
          </div>
      </div>
      
    </div>
</div>


<div class="dasboard-title mt-5 pb-3">
    <h3>CRITICAL STOCK ON HAND </h3>
</div>

<div class="row">
    <div class="col-6">

          <div class="card card-body shadow fade show">

            <div class="btn btn-secondary">
              <h3>OPERATION ITEMS</h3>
            </div>

            <table class="table table-bordered table-hover table-striped">
                  <thead class="table-primary">
                    <tr>
                      <th scope="col">SITE</th>
                      <th scope="col">ITEM NAME</th>
                      <th scope="col">BRAND NAME</th>
                      <th scope="col">UOM</th>
                      <th scope="col" class="text-right">SOH</th>
                      <!-- <th scope="col" class="text-right">PRICE</th>
                      <th scope="col" class="text-right">TOTAL PRICE</th> -->
                      <th scope="col" class="text-right">CRITICAL VALUE</th>
                      <th scope="col">DEMAND</th>


                    </tr>
                  </thead>
                  <tbody>
                    {% for item in itembase %}
                    <tr>
                      <!-- condition if admin add a critical value -->
                      {% if item.critical_value != 0 %}
                        {% if item.critical_value > 0 %}

                          {% if item.soh <= item.critical_value %}

                            <td>{{ item.site }}</td>
                            <td>{{ item.item_name }}</td>
                            <td>{{ item.brand_name }}</td>
                            <td>{{ item.uom }}</td>
                            <td class="item_soh text-right">{{ item.soh }}</td>
                            <!-- <td class="text-right">{{ item.price }}</td>
                            <td class="text-right">{{ item.total_price }}</td> -->
                            <td class="text-right">{{ item.critical_value }}</td>
                            <td>{{ item.demand_item }}</td>


                          {% endif %}
                        
                        <!-- default value is 10 if critical value is null -->
                        {% else %}

                          {% if item.soh <= none_value %}

                            <td>{{ item.site }}</td>
                            <td>{{ item.item_name }}</td>
                            <td>{{ item.brand_name }}</td>
                            <td>{{ item.uom }}</td>
                            <td class="item_soh text-right">{{ item.soh }}</td>
                            <td class="text-right">{{ item.price }}</td>
                            <td class="text-right">{{ item.total_price }}</td>
                            <td class="text-right">{{ item.critical_value }}</td>
                            <td>{{ item.demand_item }}</td>

                          {% endif %}

                        {% endif %}

                      {% endif %}
                    </tr>
                    {% endfor %}
              
                  </tbody>
                </table>

          </div>

          <div class="pb-5">
            <a href="{% url 'critical_stock_excel_export' %}"><button class="btn btn-success mt-3 ms-2"><i class="fa-solid fa-file-export"></i> EXPORT XLS</button></a>
          </div>

    </div>


    <div class="col-6">


      <div class="card card-body shadow fade show">

        <div class="btn btn-secondary">
          <h3>CLINIC ITEMS</h3>
        </div>
        <table class="table table-bordered table-hover table-striped">
              <thead class="table-primary">
                <tr>
                  <th scope="col">MEDICINE</th>
                  <th scope="col">SOH</th>
                  <th scope="col">CRITICAL QTY</th>
                  <th scope="col">DEMAND</th>                
                </tr>
              </thead>
              <tbody>
                {% for item in medicine %}
                <tr>
                  <!-- condition if admin add a critical value -->
                    {% if item.critical > 0 %}

                      {% if item.quantity <= item.critical %}

                        <td>{{ item.medicine }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.critical }}</td>
                        <td>{{ item.demand }}</td>
                      
                      {% endif %}
      
                    {% endif %}

                </tr>
                {% endfor %}
          
              </tbody>
            </table>

      </div>


    </div>



</div>


</div>

{% endblock content %}
